[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/nativefiledialog-extended"]
	path = dependencies/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
