[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "dependencies/Fizziks"]
	path = dependencies/Fizziks
	url = https://github.com/Vessalia/Fizziks.git
